.header {
    background-color: #282c34;
    display: grid; 
    grid-template-columns: 1.5fr 0.4fr; 
    grid-template-rows: 1fr; 
    gap: 0px;
    min-height:max-content;
}

.header-title-name {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 5%;
    align-self: center;
    text-align: left;
    color: aliceblue;
}

.header-logout-button {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px;
}